services:
  test-before:
    build:
      context: .
      target: test-before
    container_name: ym836n-test-before
    working_dir: /workspace/repository_before/batch/unit_test

  test-after:
    build:
      context: .
      target: test-after
    container_name: ym836n-test-after
    working_dir: /workspace/repository_after/batch/unit_test

    # Run evaluation
  evaluation:
    build:
      context: .
      target: evaluation
    container_name: ym836n-evaluation
    working_dir: /workspace
    volumes:
      - .:/workspace
