services:
  test-before:
    build: .
    command: npx -y ts-node tests/test_before.ts
    volumes:
      - .:/app

  test-after:
    build: .
    command: npx -y ts-node tests/test_after.ts
    volumes:
      - .:/app
