services:
  test-before:
    image: pdf-merger-app
    build: .
    environment:
      - TARGET=before
    command: npx ts-node tests/test_requirements.ts

  test-after:
    image: pdf-merger-app
    environment:
      - TARGET=after
    command: npx ts-node tests/test_requirements.ts

  evaluation:
    image: pdf-merger-app
    command: npx ts-node evaluation/evaluation.ts
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./evaluation/reports:/app/evaluation/reports
