services:
  app:
    build: "./52y6d3-robotic-assembly-step-coordinator"
    command: "go test -v ./..."
    volumes:
      - "./52y6d3-robotic-assembly-step-coordinator/repository_after:/app"
      - "./52y6d3-robotic-assembly-step-coordinator/tests:/app/tests"
      - "./52y6d3-robotic-assembly-step-coordinator/evaluation:/app/evaluation"
