version: '3.8'

services:
  test:
    build: .
    command: npm test
    volumes:
      - .:/app
    working_dir: /app

  test-coverage:
    build: .
    command: npm run test:coverage
    volumes:
      - .:/app
    working_dir: /app
