version: "3.9"
services:
  app:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: bash -c "echo 'Container ready. Run commands manually or with CodeBuild environment variables.'"
    environment:
      - PATH=/usr/local/go/bin:/usr/bin:/bin:/usr/sbin:/sbin:/root/go/bin
