#version: '3.8'

services:
  app:
    build: .
    command: sh run-tests.sh
    volumes:
      - .:/app
    working_dir: /app

  coverage:
    build: .
    command: npm run test:coverage
    volumes:
      - .:/app
    working_dir: /app
