services:
  test:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    # Override command when running specific tests
    # docker compose run test <command>
    command: echo 'Use docker compose run test <command>'
