services:
  test-after:
    build: .
    command: sh -c "cd /app && go test -v ./tests"
    volumes:
      - .:/app
    working_dir: /app

  evaluation:
    build: .
    command: sh -c "cd /app && go run evaluation/evaluation.go"
    volumes:
      - .:/app
    working_dir: /app
