version: "3.9"

services:
  app:
    build:
      context: .
      target: runner
    container_name: survey-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped

  dev:
    build:
      context: .
      target: builder
    container_name: survey-dev
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - ./repository_after:/app
      - /app/node_modules
      - /app/.next
    command: ["npm", "run", "dev"]
    restart: unless-stopped

  test:
    build:
      context: .
      target: test
    container_name: survey-test
    environment:
      NODE_ENV: test
      CI: "true"
    volumes:
      - ./tests:/app/tests
      - ./repository_after:/app/repository_after
      - ./jest.config.js:/app/jest.config.js
      - /app/node_modules
    command: ["npx", "jest"]

  # Evaluation service
  evaluation:
    build:
      context: .
      target: evaluation
    container_name: survey-evaluation
    environment:
      NODE_ENV: test
      CI: "true"
    volumes:
      - ./tests:/app/tests
      - ./repository_after:/app
      - ./evaluation:/app/evaluation
      - /app/node_modules
    working_dir: /app