services:
  app-before:
    build: .
    working_dir: /app
    command: pytest tests/ -q --tb=no -r=
    environment:
      - TEST_TARGET=before
    volumes:
      - .:/app

  app-after:
    build: .
    working_dir: /app
    command: pytest tests/ -q --tb=no -r=
    environment:
      - TEST_TARGET=after
    volumes:
      - .:/app

  evaluation:
    build: .
    working_dir: /app
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
