services:
  password-vault-app:
    build: .
    command: npm test
    volumes:
      - .:/app
      - /app/node_modules
      - /app/repository_after/node_modules

  evaluation:
    build: .
    command: npm run evaluate
    volumes:
      - .:/app
      - /app/node_modules
      - /app/repository_after/node_modules