services:
  test:
    build: .
    command: pytest -q tests
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app

  evaluation:
    build: .
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
