services:
  test:
    build: .
    volumes:
      - .:/app
    working_dir: /app/repository_after
    command: sh -c "npm install && npm test -- --run"

  evaluate:
    build: .
    volumes:
      - .:/app
    working_dir: /app/repository_after
    command: sh -c "npm install && node ../evaluation/evaluation.js"
