services:
  test-before:
    build: .
    environment:
      - REPO_PATH=repository_before
    command: pytest -v tests --tb=short
    volumes:
      - .:/app

  test-after:
    build: .
    environment:
      - REPO_PATH=repository_after
    command: pytest -v tests --tb=short
    volumes:
      - .:/app

  evaluate:
    build: .
    command: python3 evaluation/evaluation.py
    volumes:
      - .:/app
