@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  color: #000000 !important;
}

label,
p,
span {
  color: #000000;
}

::placeholder {
  color: #4b5563 !important;
  /* gray-600 */
  opacity: 1;
}

/* For browsers using different placeholder selectors */
input::placeholder {
  color: #4b5563 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000 !important;
}