services:
  app:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - NODE_ENV=test

  test-after:
    extends: app
    profiles: ["test"]
    container_name: ndwkoq-test-after
    command: ["npm", "run", "test"]

  evaluation:
    extends: app
    profiles: ["eval"]
    container_name: ndwkoq-evaluation
    command: ["npm", "run", "evaluate"]