services:
  test-after:
    build: .
    command: go test -v ./tests/...
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - GO111MODULE=on

  evaluation:
    build: .
    command: go run ./evaluation/evaluation.go
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - GO111MODULE=on
