services:
  app:
    build: .
    volumes:
      - .:/app
      - /app/node_modules
      - /app/repository_after/node_modules
      - /app/repository_before/node_modules
    environment:
      - TARGET_REPO=${TARGET_REPO}
    working_dir: /app
