services:
  app-after:
    build: .
    command: npm test
    volumes:
      - .:/app
      - /app/node_modules

  evaluation:
    build: .
    command: npm run evaluate
    volumes:
      - .:/app
      - /app/node_modules
