services:
  test-before:
    build: .
    command: sh -c "python -m pytest tests/ -v --tb=short -k before || exit 0"
    volumes:
      - .:/app

  test-after:
    build: .
    command: python -m pytest tests/ -v --tb=short -k after
    volumes:
      - .:/app

  evaluation:
    build: .
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
