version: '3.8'

services:
  repository-before:
    build: .
    working_dir: /app
    environment:
      - TEST_VERSION=before
    command: >
      sh -c "cd tests &&
             npm install &&
             npx jest maze.test.js --no-cache"
    volumes:
      - ./evaluation/reports:/app/evaluation/reports

  repository-after:
    build: .
    working_dir: /app
    environment:
      - TEST_VERSION=after
    command: >
      sh -c "cd tests &&
             npm install &&
             npx jest maze.test.js --no-cache"
    volumes:
      - ./evaluation/reports:/app/evaluation/reports

  evaluation:
    build: .
    working_dir: /app
    command: >
      sh -c "cd tests &&
             npm install &&
             cd .. &&
             node evaluation/evaluation.js"
    volumes:
      - ./evaluation/reports:/app/evaluation/reports