services:
  app:
    build: .
    volumes:
      - .:/app

  test-before:
    build: .
    environment:
      - TEST_TARGET=repository_before
    command: /bin/sh -c "pytest tests/test_layout.py || true"
    volumes:
      - .:/app

  test-after:
    build: .
    environment:
      - TEST_TARGET=repository_after
    command: pytest tests/test_layout.py
    volumes:
      - .:/app

  evaluation:
    build: .
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
