version: '3.8'

services:
  evaluation:
    build: .
    volumes:
      - ./evaluation/reports:/app/evaluation/reports
    command: go run evaluation/evaluation.go

  test-before:
    build: .
    environment:
      - TEST_REPO_PATH=/app/repository_before
    command: go run tests/test_before.go

  test-after:
    build: .
    environment:
      - TEST_REPO_PATH=/app/repository_after
    command: go run tests/test_after.go
