services:
  test-before:
    build: .
    environment:
      - REPO_TYPE=before
    command: [ "sh", "-c", "pytest -v --tb=short tests/ || true" ]

  test-after:
    build: .
    environment:
      - REPO_TYPE=after
    command: [ "pytest", "-v", "--tb=short", "tests/" ]

  evaluation:
    build: .
    volumes:
      - ./evaluation/reports:/app/evaluation/reports
    command: [ "python", "evaluation/evaluation.py" ]
