services:
  test-before:
    build: .
    environment:
      - REPO_TYPE=before
    command: [ "pytest", "-v", "--tb=short", "tests/" ]

  test-after:
    build: .
    environment:
      - REPO_TYPE=after
    command: [ "pytest", "-v", "--tb=short", "tests/" ]

  evaluation:
    build: .
    volumes:
      - ./evaluation/reports:/app/evaluation/reports
      - /var/run/docker.sock:/var/run/docker.sock
    command: [ "python", "evaluation/evaluation.py" ]
