services:
  app-after:
    build: .
    environment:
      - PYTHONPATH=/app/repository_after
      - REPO=repository_after
    working_dir: /app
    command: sh -c "python -m pytest tests/ || true"
    volumes:
      - .:/app

  evaluation:
    build: .
    environment:
      - PYTHONPATH=/app
    working_dir: /app
    command: python evaluation/evaluation.py
    volumes:
      - .:/app
