services:
  app:
    build: .
    command: pytest -q tests
    volumes:
      - .:/app
      - /app/repository_before/node_modules
      - /app/repository_after/node_modules
      - /app/tests/node_modules
