services:
  app:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    command:
      - sh
      - -c
      - |
        cd /app && go run evaluation/evaluation.go single
