services:
  app:
    build: .
    working_dir: /app
    volumes:
      - .:/app
      - /app/repository_after/node_modules
      - /app/tests/node_modules
    environment:
      - MONGODB_URI=mongodb://mongo:27017/better-auth-demo
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
