services:
  test-before:
    image: ecommerce-fix-test
    build:
      context: .
      target: node-base
    command: /bin/sh -c "npm run -s test:before || true"
    environment:
      - DATABASE_URL=mysql://root:password@localhost:3306/db
      - SCHEMA_PATH=repository_before/schema.prisma
    volumes:
      - .:/app
      - /app/node_modules

  test-after:
    image: ecommerce-fix-test
    command: npm run test:after
    environment:
      - DATABASE_URL=mysql://root:password@localhost:3306/db
    volumes:
      - .:/app
      - /app/node_modules

  evaluation:
    image: ecommerce-fix-test
    command: npx ts-node evaluation/evaluation.ts
    environment:
      - DATABASE_URL=mysql://root:password@localhost:3306/db
      - SCHEMA_PATH_BEFORE=repository_before/schema.prisma
    volumes:
      - .:/app
      - /app/node_modules
