services:
  # repository_before — run tests
  before:
    build:
      context: .
      dockerfile: Dockerfile.before

  # repository_after — run tests
  after:
    build:
      context: .
      dockerfile: Dockerfile.after

  # evaluation — run evaluation tests
  evaluation:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./evaluation/reports:/app/evaluation/reports
