services:
  test-after:
    build: .
    volumes:
      - .:/app
    command: go test -v ./tests/...

  evaluation:
    build: .
    volumes:
      - .:/app
    command: go run evaluation/evaluation.go
